<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="monoandroid60" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="monoandroid60" />
  <package id="AForge.Math" version="2.2.5" targetFramework="monoandroid60" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="monoandroid60" />
  <package id="Plugin.CurrentActivity" version="1.0.0" targetFramework="monoandroid60" />
  <package id="Plugin.Permissions" version="1.1.1" targetFramework="monoandroid60" />
  <package id="SkiaSharp" version="1.54.1" targetFramework="monoandroid60" />
  <package id="SkiaSharp.Views" version="1.54.1-beta1" targetFramework="monoandroid70" />
  <package id="SkiaSharp.Views.Forms" version="1.54.1-beta1" targetFramework="monoandroid70" />
  <package id="Tesseract" version="3.0.2.0" targetFramework="monoandroid70" />
  <package id="Xam.Plugin.Media" version="2.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="monoandroid60" />
  <package id="Xamarin.Tesseract" version="0.3.2" targetFramework="monoandroid60" />
  <package id="XLabs.Core" version="2.2.0-pre05" targetFramework="monoandroid60" />
  <package id="XLabs.Forms" version="2.2.0-pre05" targetFramework="monoandroid60" />
  <package id="XLabs.IoC" version="2.2.0-pre05" targetFramework="monoandroid60" />
  <package id="XLabs.Platform" version="2.2.0-pre05" targetFramework="monoandroid60" />
  <package id="XLabs.Serialization" version="2.2.0-pre05" targetFramework="monoandroid60" />
</packages>